/* PRIMARY LAYOUT */

* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
=======
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

iframe {
	display: none;
>>>>>>> quill
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

body {
	width: 100%;
	height: 100vh;
}
.main-wrapper {
	display: flex;
	background-color: rgba(255, 255, 255, 1);
	width: inherit;
	height: inherit;
}

.main-wrapper .tree-wrapper {
<<<<<<< HEAD
    background-color: rgba(200, 200, 2, 1);
    flex-basis: 30%;
    padding-left: 20px;
=======
	background-color: rgba(0, 0, 0, 0.5);
	flex-basis: 30%;
	overflow: none;
	padding: 10px;
	border-right: 2px solid rgba(0,0,0,0.5);
>>>>>>> quill
}

.main-wrapper .workspace-wrapper {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
}

.main-wrapper .workspace-wrapper .editor-wrapper {
	background-color: 	rgba(199,202,209,0.8);
	flex-basis: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}

.main-wrapper .workspace-wrapper .editor-wrapper #editor {
	overflow: hidden;
	padding: 0;
}

.main-wrapper .workspace-wrapper .editor-wrapper #editor .ql-editor::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(172, 176, 185, 0.3);
}

.main-wrapper .workspace-wrapper .editor-wrapper #editor .ql-editor::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: rgba(172, 176, 185, 0.3);
}

.main-wrapper .workspace-wrapper .editor-wrapper #editor .ql-editor::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgba(172, 176, 185, 0.3);
}

.main-wrapper .workspace-wrapper .info-wrapper {
	display: flex;
	background-color: 	rgba(172,176,185,1);
	flex-basis: 10%;
}

<<<<<<< HEAD
.main-wrapper .workspace-wrapper .info-wrapper .title-wrapper {
    background-color: rgba(2, 255, 255, 1);
    flex-basis: 50%;
=======
.main-wrapper .workspace-wrapper .info-wrapper .title-wrapper,
.main-wrapper .workspace-wrapper .info-wrapper .meta-wrapper {
	flex-basis: 70%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
		
>>>>>>> quill
}

.main-wrapper .workspace-wrapper .info-wrapper .title-wrapper{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:0px 25px;

}
.main-wrapper .workspace-wrapper .info-wrapper .meta-wrapper {
	border-left: 2px solid rgba(93,99,111,0.5);
	display: flex;
	flex-basis: 30%;
	align-items: center;
	padding: 0px 25px;
	
}
.info-wrapper button{
	margin-left: 10px;
}
.meta-wrapper button, .title-wrapper button{
	width: 100px;
	height: 30px;
	background-color: rgba(172,176,185,1);
	border:3px solid black;
	color:black;
	font-weight: bold;
	text-transform: uppercase;
		    
}
.info-wrapper button:hover{
	color:white;
	background-color: black;
	font-weight: bolder;
	
}

/* TREEVIEW LAYOUT */

<<<<<<< HEAD
=======
.main-wrapper .tree-wrapper .fa {
	padding: 0 5px;
	cursor: pointer;
}

.main-wrapper .tree-wrapper a.active {
	background-color: rgba(0, 0, 0, 1);
	color:white;
}

>>>>>>> quill
.main-wrapper .tree-wrapper .root > ul,
.main-wrapper .tree-wrapper .nodes > ul {
	padding: 2px;
	margin-left: 10px;
	border-radius: 5px;
}

.main-wrapper .tree-wrapper .root ul > li {
	list-style: none;
}

.main-wrapper .tree-wrapper .nodes > ul {
	background: rgba(255, 255, 255, 0.3);
}

.main-wrapper .tree-wrapper .nodes > ul:empty {
	display: none;
}

.main-wrapper .tree-wrapper .root > .btn {
	background: transparent;
	border: none;
}

/* EDITOR LAYOUT */

.main-wrapper .workspace-wrapper .editor-wrapper > * {
	padding: 10px 15px;
	
}

<<<<<<< HEAD
.main-wrapper .workspace-wrapper .editor-wrapper .controls-wrapper {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    width: 90%;
    background: rgba(240, 240, 240, 0.7);
}

.main-wrapper .workspace-wrapper .editor-wrapper .controls-wrapper * {
    align-self: center;
    min-height: 25px;
    border: none;
    border-radius: 3px;
    background: rgba(240, 240, 240, 1);
    padding: 3px;
}

.main-wrapper .workspace-wrapper .editor-wrapper .controls-wrapper .controls.btn {
    min-width: 25px;
    cursor: pointer;
}

.main-wrapper .workspace-wrapper .editor-wrapper .controls-wrapper .controls .input {
    align-self: center;
    background: rgba(255, 255, 255, 1);
}

.main-wrapper .workspace-wrapper .editor-wrapper .editor {
    background: rgba(255, 255, 255, 1);
    flex-basis: 85%;
    width: 90%;

    /* overflowing text and images*/
    /* word-wrap: break-word; */
    
    overflow-y: auto;
    overflow-x:hidden;
    white-space: normal;
    overflow-wrap:break-word;
    padding: 20px;
=======
.main-wrapper .workspace-wrapper .editor-wrapper .editor{
	background: rgba(255, 255, 255, 1);
	flex-basis: 85%;
	width: 95%;
	overflow: scroll;
}
.ql-toolbar{
	background-color: #edeef0;

}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    height: 100%;
    width: 100%;
	text-transform: uppercase;
}
.modalconent h5{
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	margin-top: -8px;
	

}
.modalconent {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 70%;
	height: 40%;
	padding: 20px;
	border:2px solid black;
	border-radius: 10px;
	text-align: center;
	
}
.modalconent input{
	width: 88%;
	border:1px solid black;
	border-radius: 5px;
	padding:5px 10px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.modalconent label{
	font-size: 13px;
	font-weight: bolder;
	float: left;
	margin-left:6%;
}
.modalconent button{
	margin-top: 10px;
}


.tooltip {
    position: absolute;
    display: inline-block;
		margin-left: -20px;
}
.tooltip i{
	margin:0px 10px;
	margin-top: 4px;
}
.tooltip .fa:hover{
	color: rgb(0,188,199);
}
.tooltiptext {
    width: 150px;
    background-color:rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
>>>>>>> quill
}
